/* src/AnimalCard.module.css */
.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.cardTitle {
  background-color: #3498db;
  color: white;
  margin: 0;
  padding: 15px;
  text-align: center;
  font-size: 1.5em;
}

.imageContainer {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Это свойство обеспечивает правильное масштабирование изображения */
  transition: transform 0.5s ease;
}

.card:hover .image {
  transform: scale(1.05);
}